@media only screen and (max-width: 1000px) {
	.real-mobile .mo_menu .mo_middle {
		display: none;
	}

	.real-mobile .mo_menu .mo_bottom ul {
		max-height: calc(100vh - 200px);
	}

	.real-mobile main .swiper-slide a .main_desc {
		bottom: 80px;
	}
}

@media only screen and (max-width: 500px) {
	.real-mobile .mo_menu .mo_middle {
		display: block;
	}

	.real-mobile .mo_menu .mo_bottom ul {
		max-height: calc(100vh - 340px);
	}

	.real-mobile main .swiper-slide a .main_desc {
		bottom: 150px;
	}
}